[user]
	name = antoine-cha
	email = antoine.chassang0@gmail.com
[core]
	editor = vim
[alias]
    st = status -sb
    ci = commit
    co = checkout
    graph = log --graph --oneline --decorate=short --branches='*'
    br = branch
    bra = branch --all
    df = diff --color-words='[^[:space:]]'
    sh = show --color-words='[^[]]'
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    new = green bold
[color "branch"]
    current = yellow bold
    local = white
    remote = red
[log]
    date = relative
[format]
    pretty = format:%C(yellow)%h %C(cyan)%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
